# Don't include my data! #
##########################
*.opg

# Compiled py files #
#####################
*.pyc

# Saved output images #
#######################
*.png

# Databases #
#############
*.db

# Pycharm files #
#################
*.idea

# Venv #
########
venv/

# Database #
############
db/
